img {
  margin: 20px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

ul {
  list-style: none;
  font-family: sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
}

body {
  background-color: blue;
}
